
h1{
    font-size: 48px;
    line-height: 0;
}
.by{
    font-size: 10px;
    color: darkcyan;
}
.Daftar{
    text-align: left;
}
.satu{
    text-align: left;
    line-height: 0;
}
.dua{
    text-align: left;

}
.tiga{
    text-align: left;
    line-height: 0;
}
.Introduction{
    text-align: left;
    margin-bottom: 2px;
}
.int{
    text-align: left; 
    font-family: sans-serif;
}
.o{
    margin-top: -8pt;
    font-family: sans-serif;
}
.p{
    margin-top: -9pt;
    font-family: sans-serif;
}
.q{
    margin-top: -9pt;
    margin-bottom: -2pt;
    font-family: sans-serif;
}
.r{
    margin-top: -9pt;
    font-family: sans-serif;
}
.Detail{
    text-align: left;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.dtl{
    text-align: left;
    margin-bottom: 0px;
    font-family: sans-serif;
}
.s{
    margin-top: 5pt;
    font-family: sans-serif;
}
.t{
    margin-top: -9pt;
    font-family: sans-serif;
}
.u{
    margin-top: -9pt;
    font-family: sans-serif;
}
.v{
    margin-top: -8pt;
    font-family: sans-serif;
}
.w{
    margin-top: 8pt;
    font-family: sans-serif;
}
.x{
    margin-top: -8pt;
    font-family: sans-serif;
}
.y{
    margin-top: -8pt;
    font-family: sans-serif;
}
.z{
    margin-top: -8pt;
    font-family: sans-serif;
}